# Using CSV lib

In [5]:
import json 
import csv
import numpy as np
f = open('data.min.json')
data = json.load(f)

In [6]:
def add_header(arr):
    arr.append("State_Code")
    arr.append("delta_confirmed")
    arr.append("delta_tested")
    arr.append("delta_deceased")
    arr.append("delta_recovered")
    arr.append("delta_vaccinated1")
    arr.append("delta_vaccinated2")
    
    arr.append("delta21_14_confirmed")
   
    arr.append("delta7_confirmed")
    arr.append("delta7_tested")
    arr.append("delta7_deceased")
    arr.append("delta7_recovered")
    arr.append("delta7_vaccinated1")
    arr.append("delta7_vaccinated2")
    arr.append("meta_population")
    arr.append("total_confirmed")
    arr.append("total_tested")
    arr.append("total_deceased")
    arr.append("total_recovered")
    arr.append("total_vaccinated1")
    arr.append("total_vaccinated2")
    return arr

In [7]:
data_list = []
add_header(data_list)
# print(data_list)
arr = np.array(data_list)
for k,v in data.items():
    data_list_row = []
    data_list_row.append(k)
    try:
        data_list_row.append(v["delta"]["confirmed"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta"]["tested"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta"]["deceased"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta"]["recovered"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta"]["vaccinated1"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta"]["vaccinated2"])
    except KeyError:
        data_list_row.append("NaN")
            
    
    try:
        data_list_row.append(v["delta21_14"]["confirmed"])
    except KeyError:
        data_list_row.append("NaN")
        
     
    try:
        data_list_row.append(v["delta7"]["confirmed"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta7"]["tested"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta7"]["deceased"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta7"]["recovered"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta7"]["vaccinated1"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["delta7"]["vaccinated2"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["meta"]["population"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["total"]["confirmed"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["total"]["tested"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["total"]["deceased"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["total"]["recovered"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["total"]["vaccinated1"])
    except KeyError:
        data_list_row.append("NaN")
    try:
        data_list_row.append(v["total"]["vaccinated2"])
    except KeyError:
        data_list_row.append("NaN")
    row = np.array(data_list_row)
    # print(row)
    arr = np.vstack((arr, row))                           
    # print(arr)

In [8]:
with open("State_Covid_19.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerows(arr)
f.close()

# Using Pandas lib

In [2]:
import json
import requests
import pandas as pd
import numpy as np

In [3]:
r=requests.get(url="https://data.covid19india.org/v4/min/data.min.json")

In [4]:
data = json.loads(r.content)

In [5]:
#Coverting Data into DataFrame
tr=pd.DataFrame.transpose(pd.DataFrame(data))

In [6]:
#Geting State Names 
col1 = np.array(tr.index)

In [7]:
# Creating Saperate Column for State
tr["STATE"]=col1

In [8]:
#tr

In [9]:
# Shifting State Column to First Column
FIRST_COL=tr.pop("STATE")
tr.insert(0,"State",FIRST_COL)

In [10]:
#tr.head()

In [11]:
#Convering Dataframe into array for Ease in Iteration (trail)
vv=np.array(tr.iloc[:,0:2])

In [12]:
# Trying to covert array into desired Dictionary (trail)
DI={}
for i in range(len(vv)):
    DI[vv[i][0]]=vv[i][1]

In [13]:
#DI

In [14]:
vv[1][1]

{'confirmed': 385,
 'deceased': 4,
 'recovered': 675,
 'tested': 39848,
 'vaccinated1': 20497,
 'vaccinated2': 24137}

In [15]:
#Transforming data to get desired ouput (trial)
deltaa=pd.DataFrame(DI).transpose()

In [16]:
#inserting state at First Column
deltaa.insert(0,"State",FIRST_COL)

In [17]:
#deltaa

In [18]:
#Changing Column Names
delta_columns=list(deltaa.columns)
delta_columns=['State','delta_tested','delta_vaccinated1','delta_vaccinated2','delta_confirmed','delta_deceased','delta_recovered','delta_other']

In [19]:
deltaa.columns=delta_columns

In [20]:
deltaa.reset_index(drop=True, inplace=True)

In [21]:
#deltaa

In [22]:
#vv=np.array(tr.iloc[:,0:2])
# DI={}
# for i in range(len(vv)):
#     DI[vv[i][0]]=vv[i][1]
# deltaa=pd.DataFrame(DI).transpose()
# deltaa.insert(0,"State",FIRST_COL)
#deltaa.reset_index(drop=True, inplace=True)

In [23]:
# Query to Get State And delta21_14

vv=np.array(tr.loc[:,["State","delta21_14"]])
DI={}
for i in range(len(vv)):
    DI[vv[i][0]]=vv[i][1]
delta21_14=pd.DataFrame(DI).transpose()
delta21_14.insert(0,"State",FIRST_COL)
delta21_14.reset_index(drop=True, inplace=True)
delta21_14.columns=["State","delta21_14_confirmed"]

In [24]:
#delta21_14

## Getting State and Delta delta7

**Created Function to get Extracted Data With Two Column for.eg State and Delta**

In [25]:
def to_dataframe(column1,column2):
    vv=np.array(tr.loc[:,[column1,column2]])
    DI={}
    for i in range(len(vv)):
        DI[vv[i][0]]=vv[i][1]
    column2=pd.DataFrame(DI).transpose()
    column2.insert(0,"State",FIRST_COL)
    column2.reset_index(drop=True, inplace=True)
    return column2

In [26]:
#Getting State and Delta7
delta7=to_dataframe(column1="State",column2="delta7")

In [27]:
#delta7

In [28]:
# changing names of columns
delta7.columns=["State","delta7_confirmed","delta7_recovered","delta7_tested","delta7_vaccinated1","delta7_vaccinated2","delta7_deceased","delta7_other"]

In [29]:
#delta7

In [30]:
#getting State And total
total=to_dataframe(column1="State",column2="total")

In [31]:
# Changing Column Names of obtained Dataset
total.columns
li= ['State','total_confirmed','total_deceased','total_recovered','total_tested','total_vaccinated1','total_vaccinated2','total_other']
total.columns=li

In [32]:
#total

In [33]:
#tr

In [34]:
# merging two Dataseys
del_del21=deltaa.merge(delta21_14,on="State")
del_del21_del7=del_del21.merge(delta7,on="State")
del_del21_del7_total = del_del21_del7.merge(total,on="State")

In [35]:
#del_del21_del7_total

In [36]:
#del_del21_del7_total.to_csv(r"C:\Users\91940\Desktop\Python Project\sample.csv",index=False)

In [37]:
metaa=to_dataframe(column1="State",column2="meta")

In [38]:
# def to_dataframe(column1,column2):
#     vv=np.array(tr.loc[:,[column1,column2]])
#     DI={}
#     for i in range(len(vv)):
#         DI[vv[i][0]]=vv[i][1]
#     column2=pd.DataFrame(DI).transpose()
#     column2.insert(0,"State",FIRST_COL)
#     column2.reset_index(drop=True, inplace=True)
#     return column2

In [39]:
#metaa

In [40]:
#getting meta values
vv=np.array(metaa.loc[:,["State","population"]])

In [41]:
#getting Population
polpulation=pd.DataFrame(vv)

In [42]:
polpulation.columns=["State","Polpulation"]

In [43]:
del_del21_del7_total_population=del_del21_del7_total.merge(polpulation,on="State")

In [44]:
#del_del21_del7_total_population

In [45]:
population_column =del_del21_del7_total_population.pop("Polpulation")
del_del21_del7_total_population.insert(1,"Population",population_column)

In [46]:
dates=metaa.loc[:,["State","date","last_updated"]]

In [47]:
del_del21_del7_total_population_dates=del_del21_del7_total_population.merge(dates,on="State")

In [48]:
def editing_columns(value_want_to_replace,place_at,data_set,column_name_you_want_to_give):
    xx =data_set.pop(value_want_to_replace)
    yy=data_set.insert(place_at,column_name_you_want_to_give,xx)
    return yy

In [49]:
#del_del21_del7_total_population_dates

In [50]:
editing_columns(value_want_to_replace="date",place_at=2,data_set=del_del21_del7_total_population_dates,column_name_you_want_to_give="Date")

In [51]:
editing_columns(value_want_to_replace="last_updated",place_at=3,data_set=del_del21_del7_total_population_dates,column_name_you_want_to_give="Last_Update",)

In [52]:
#del_del21_del7_total_population_dates

In [53]:
notes = metaa.loc[:,["State","notes"]]

In [54]:
notes.columns

Index(['State', 'notes'], dtype='object')

In [55]:
#del_del21_del7_total_population_dates.to_csv(r"C:\Users\91940\Desktop\Python Project\State.csv",index=False)

In [56]:
#to_dataframe(column1="State",column2="districts").transpose()

## Manupulation For District

 
 ...............................

In [57]:
new_data=tr.drop("TT",axis=0)
district=new_data.loc[:,["State","districts"]]
district=np.array(district)
x=pd.DataFrame(district)

In [58]:
x[0][1]

'AP'

In [59]:
diii={}
for i in range(int(len(district))):
    value=list(dict(np.array(x)[i][1]).keys())
    key=(np.array(x)[i][0])
    diii[key]=value

In [60]:
diii

{'AN': ['Nicobars', 'North and Middle Andaman', 'South Andaman', 'Unknown'],
 'AP': ['Anantapur',
  'Chittoor',
  'East Godavari',
  'Foreign Evacuees',
  'Guntur',
  'Krishna',
  'Kurnool',
  'Other State',
  'Prakasam',
  'S.P.S. Nellore',
  'Srikakulam',
  'Visakhapatnam',
  'Vizianagaram',
  'West Godavari',
  'Y.S.R. Kadapa'],
 'AR': ['Anjaw',
  'Capital Complex',
  'Changlang',
  'East Kameng',
  'East Siang',
  'Kamle',
  'Kra Daadi',
  'Kurung Kumey',
  'Lepa Rada',
  'Lohit',
  'Longding',
  'Lower Dibang Valley',
  'Lower Siang',
  'Lower Subansiri',
  'Namsai',
  'Pakke Kessang',
  'Papum Pare',
  'Shi Yomi',
  'Siang',
  'Tawang',
  'Tirap',
  'Upper Dibang Valley',
  'Upper Siang',
  'Upper Subansiri',
  'West Kameng',
  'West Siang'],
 'AS': ['Baksa',
  'Barpeta',
  'Biswanath',
  'Bongaigaon',
  'Cachar',
  'Charaideo',
  'Chirang',
  'Darrang',
  'Dhemaji',
  'Dhubri',
  'Dibrugarh',
  'Dima Hasao',
  'Goalpara',
  'Golaghat',
  'Hailakandi',
  'Hojai',
  'Jorhat',
  'Kamrup',
  'Kamrup Metropolitan',
  'Karbi Anglong',
  'Karimganj',
  'Kokrajhar',
  'Lakhimpur',
  'Majuli',
  'Morigaon',
  'Nagaon',
  'Nalbari',
  'Sivasagar',
  'Sonitpur',
  'South Salmara Mankachar',
  'Tinsukia',
  'Udalguri',
  'Unknown',
  'West Karbi Anglong'],
 'BR': ['Araria',
  'Arwal',
  'Aurangabad',
  'Banka',
  'Begusarai',
  'Bhagalpur',
  'Bhojpur',
  'Buxar',
  'Darbhanga',
  'East Champaran',
  'Gaya',
  'Gopalganj',
  'Jamui',
  'Jehanabad',
  'Kaimur',
  'Katihar',
  'Khagaria',
  'Kishanganj',
  'Lakhisarai',
  'Madhepura',
  'Madhubani',
  'Munger',
  'Muzaffarpur',
  'Nalanda',
  'Nawada',
  'Patna',
  'Purnia',
  'Rohtas',
  'Saharsa',
  'Samastipur',
  'Saran',
  'Sheikhpura',
  'Sheohar',
  'Sitamarhi',
  'Siwan',
  'Supaul',
  'Vaishali',
  'West Champaran'],
 'CH': ['Chandigarh'],
 'CT': ['Balod',
  'Baloda Bazar',
  'Balrampur',
  'Bametara',
  'Bastar',
  'Bijapur',
  'Bilaspur',
  'Dakshin Bastar Dantewada',
  'Dhamtari',
  'Durg',
  'Gariaband',
  'Gaurela Pendra Marwahi',
  'Janjgir Champa',
  'Jashpur',
  'Kabeerdham',
  'Kondagaon',
  'Korba',
  'Koriya',
  'Mahasamund',
  'Mungeli',
  'Narayanpur',
  'Other State',
  'Raigarh',
  'Raipur',
  'Rajnandgaon',
  'Sukma',
  'Surajpur',
  'Surguja',
  'Uttar Bastar Kanker'],
 'DL': ['Delhi'],
 'DN': ['Dadra and Nagar Haveli', 'Daman', 'Diu'],
 'GA': ['North Goa', 'South Goa', 'Unknown'],
 'GJ': ['Ahmedabad',
  'Amreli',
  'Anand',
  'Aravalli',
  'Banaskantha',
  'Bharuch',
  'Bhavnagar',
  'Botad',
  'Chhota Udaipur',
  'Dahod',
  'Dang',
  'Devbhumi Dwarka',
  'Gandhinagar',
  'Gir Somnath',
  'Jamnagar',
  'Junagadh',
  'Kheda',
  'Kutch',
  'Mahisagar',
  'Mehsana',
  'Morbi',
  'Narmada',
  'Navsari',
  'Other State',
  'Panchmahal',
  'Patan',
  'Porbandar',
  'Rajkot',
  'Sabarkantha',
  'Surat',
  'Surendranagar',
  'Tapi',
  'Vadodara',
  'Valsad'],
 'HP': ['Bilaspur',
  'Chamba',
  'Hamirpur',
  'Kangra',
  'Kinnaur',
  'Kullu',
  'Lahaul and Spiti',
  'Mandi',
  'Shimla',
  'Sirmaur',
  'Solan',
  'Una'],
 'HR': ['Ambala',
  'Bhiwani',
  'Charkhi Dadri',
  'Faridabad',
  'Fatehabad',
  'Gurugram',
  'Hisar',
  'Jhajjar',
  'Jind',
  'Kaithal',
  'Karnal',
  'Kurukshetra',
  'Mahendragarh',
  'Nuh',
  'Palwal',
  'Panchkula',
  'Panipat',
  'Rewari',
  'Rohtak',
  'Sirsa',
  'Sonipat',
  'Yamunanagar'],
 'JH': ['Bokaro',
  'Chatra',
  'Deoghar',
  'Dhanbad',
  'Dumka',
  'East Singhbhum',
  'Garhwa',
  'Giridih',
  'Godda',
  'Gumla',
  'Hazaribagh',
  'Jamtara',
  'Khunti',
  'Koderma',
  'Latehar',
  'Lohardaga',
  'Pakur',
  'Palamu',
  'Ramgarh',
  'Ranchi',
  'Sahibganj',
  'Saraikela-Kharsawan',
  'Simdega',
  'Unknown',
  'West Singhbhum'],
 'JK': ['Anantnag',
  'Bandipora',
  'Baramulla',
  'Budgam',
  'Doda',
  'Ganderbal',
  'Jammu',
  'Kathua',
  'Kishtwar',
  'Kulgam',
  'Kupwara',
  'Pulwama',
  'Punch',
  'Rajouri',
  'Ramban',
  'Reasi',
  'Samba',
  'Shopiyan',
  'Srinagar',
  'Udhampur'],
 'KA': ['Bagalkote',
  'Ballari',
  'Belagavi',
  'Bengaluru Rural',
  'Bengaluru Urban',
  'Bidar',
  'Chamarajanagara',
  'Chikkaballapura',
  'Chikkamagaluru',
  'Chitradurga',
  'Dakshina Kannada',
  'Davanagere',
  'Dharwad',
  'Gadag',
  'Hassan',
  'Haveri',
  'Kalaburagi',
  'Kodagu',
  'Kolar',
  'Koppal',
  'Mandya',
  'Mysuru',
  'Other State',
  'Raichur',
  'Ramanagara',
  'Shivamogga',
  'Tumakuru',
  'Udupi',
  'Uttara Kannada',
  'Vijayapura',
  'Yadgir'],
 'KL': ['Alappuzha',
  'Ernakulam',
  'Idukki',
  'Kannur',
  'Kasaragod',
  'Kollam',
  'Kottayam',
  'Kozhikode',
  'Malappuram',
  'Palakkad',
  'Pathanamthitta',
  'Thiruvananthapuram',
  'Thrissur',
  'Wayanad'],
 'LA': ['Kargil', 'Leh'],
 'LD': ['Lakshadweep'],
 'MH': ['Ahmednagar',
  'Akola',
  'Amravati',
  'Aurangabad',
  'Beed',
  'Bhandara',
  'Buldhana',
  'Chandrapur',
  'Dhule',
  'Gadchiroli',
  'Gondia',
  'Hingoli',
  'Jalgaon',
  'Jalna',
  'Kolhapur',
  'Latur',
  'Mumbai',
  'Nagpur',
  'Nanded',
  'Nandurbar',
  'Nashik',
  'Osmanabad',
  'Other State',
  'Palghar',
  'Parbhani',
  'Pune',
  'Raigad',
  'Ratnagiri',
  'Sangli',
  'Satara',
  'Sindhudurg',
  'Solapur',
  'Thane',
  'Wardha',
  'Washim',
  'Yavatmal'],
 'ML': ['East Garo Hills',
  'East Jaintia Hills',
  'East Khasi Hills',
  'North Garo Hills',
  'Ribhoi',
  'South Garo Hills',
  'South West Garo Hills',
  'South West Khasi Hills',
  'West Garo Hills',
  'West Jaintia Hills',
  'West Khasi Hills'],
 'MN': ['Bishnupur',
  'Chandel',
  'Churachandpur',
  'Imphal East',
  'Imphal West',
  'Jiribam',
  'Kakching',
  'Kamjong',
  'Kangpokpi',
  'Noney',
  'Pherzawl',
  'Senapati',
  'Tamenglong',
  'Tengnoupal',
  'Thoubal',
  'Ukhrul',
  'Unknown'],
 'MP': ['Agar Malwa',
  'Alirajpur',
  'Anuppur',
  'Ashoknagar',
  'Balaghat',
  'Barwani',
  'Betul',
  'Bhind',
  'Bhopal',
  'Burhanpur',
  'Chhatarpur',
  'Chhindwara',
  'Damoh',
  'Datia',
  'Dewas',
  'Dhar',
  'Dindori',
  'Guna',
  'Gwalior',
  'Harda',
  'Hoshangabad',
  'Indore',
  'Jabalpur',
  'Jhabua',
  'Katni',
  'Khandwa',
  'Khargone',
  'Mandla',
  'Mandsaur',
  'Morena',
  'Narsinghpur',
  'Neemuch',
  'Niwari',
  'Panna',
  'Raigarh',
  'Raisen',
  'Rajgarh',
  'Ratlam',
  'Rewa',
  'Sagar',
  'Satna',
  'Sehore',
  'Seoni',
  'Shahdol',
  'Shajapur',
  'Sheopur',
  'Shivpuri',
  'Sidhi',
  'Singrauli',
  'Tikamgarh',
  'Ujjain',
  'Umaria',
  'Unknown',
  'Vidisha'],
 'MZ': ['Aizawl',
  'Champhai',
  'Hnahthial',
  'Khawzawl',
  'Kolasib',
  'Lawngtlai',
  'Lunglei',
  'Mamit',
  'Saiha',
  'Saitual',
  'Serchhip'],
 'NL': ['Dimapur',
  'Kiphire',
  'Kohima',
  'Longleng',
  'Mokokchung',
  'Mon',
  'Peren',
  'Phek',
  'Tuensang',
  'Wokha',
  'Zunheboto'],
 'OR': ['Angul',
  'Balangir',
  'Balasore',
  'Bargarh',
  'Bhadrak',
  'Boudh',
  'Cuttack',
  'Deogarh',
  'Dhenkanal',
  'Gajapati',
  'Ganjam',
  'Jagatsinghpur',
  'Jajpur',
  'Jharsuguda',
  'Kalahandi',
  'Kandhamal',
  'Kendrapara',
  'Kendujhar',
  'Khordha',
  'Koraput',
  'Malkangiri',
  'Mayurbhanj',
  'Nabarangapur',
  'Nayagarh',
  'Nuapada',
  'Puri',
  'Rayagada',
  'Sambalpur',
  'State Pool',
  'Subarnapur',
  'Sundargarh'],
 'PB': ['Amritsar',
  'Barnala',
  'Bathinda',
  'Faridkot',
  'Fatehgarh Sahib',
  'Fazilka',
  'Ferozepur',
  'Gurdaspur',
  'Hoshiarpur',
  'Jalandhar',
  'Kapurthala',
  'Ludhiana',
  'Mansa',
  'Moga',
  'Pathankot',
  'Patiala',
  'Rupnagar',
  'S.A.S. Nagar',
  'Sangrur',
  'Shahid Bhagat Singh Nagar',
  'Sri Muktsar Sahib',
  'Tarn Taran'],
 'PY': ['Karaikal', 'Mahe', 'Puducherry', 'Yanam'],
 'RJ': ['Ajmer',
  'Alwar',
  'BSF Camp',
  'Banswara',
  'Baran',
  'Barmer',
  'Bharatpur',
  'Bhilwara',
  'Bikaner',
  'Bundi',
  'Chittorgarh',
  'Churu',
  'Dausa',
  'Dholpur',
  'Dungarpur',
  'Evacuees',
  'Ganganagar',
  'Hanumangarh',
  'Italians',
  'Jaipur',
  'Jaisalmer',
  'Jalore',
  'Jhalawar',
  'Jhunjhunu',
  'Jodhpur',
  'Karauli',
  'Kota',
  'Nagaur',
  'Other State',
  'Pali',
  'Pratapgarh',
  'Rajsamand',
  'Sawai Madhopur',
  'Sikar',
  'Sirohi',
  'Tonk',
  'Udaipur'],
 'SK': ['East Sikkim',
  'North Sikkim',
  'South Sikkim',
  'Unknown',
  'West Sikkim'],
 'TG': ['Adilabad',
  'Bhadradri Kothagudem',
  'Hyderabad',
  'Jagtial',
  'Jangaon',
  'Jayashankar Bhupalapally',
  'Jogulamba Gadwal',
  'Kamareddy',
  'Karimnagar',
  'Khammam',
  'Komaram Bheem',
  'Mahabubabad',
  'Mahabubnagar',
  'Mancherial',
  'Medak',
  'Medchal Malkajgiri',
  'Mulugu',
  'Nagarkurnool',
  'Nalgonda',
  'Narayanpet',
  'Nirmal',
  'Nizamabad',
  'Peddapalli',
  'Rajanna Sircilla',
  'Ranga Reddy',
  'Sangareddy',
  'Siddipet',
  'Suryapet',
  'Unknown',
  'Vikarabad',
  'Wanaparthy',
  'Warangal Rural',
  'Warangal Urban',
  'Yadadri Bhuvanagiri'],
 'TN': ['Airport Quarantine',
  'Ariyalur',
  'Chengalpattu',
  'Chennai',
  'Coimbatore',
  'Cuddalore',
  'Dharmapuri',
  'Dindigul',
  'Erode',
  'Kallakurichi',
  'Kancheepuram',
  'Kanyakumari',
  'Karur',
  'Krishnagiri',
  'Madurai',
  'Mayiladuthurai',
  'Nagapattinam',
  'Namakkal',
  'Nilgiris',
  'Perambalur',
  'Pudukkottai',
  'Railway Quarantine',
  'Ramanathapuram',
  'Ranipet',
  'Salem',
  'Sivaganga',
  'Tenkasi',
  'Thanjavur',
  'Theni',
  'Thiruvallur',
  'Thiruvarur',
  'Thoothukkudi',
  'Tiruchirappalli',
  'Tirunelveli',
  'Tirupathur',
  'Tiruppur',
  'Tiruvannamalai',
  'Vellore',
  'Viluppuram',
  'Virudhunagar'],
 'TR': ['Dhalai',
  'Gomati',
  'Khowai',
  'North Tripura',
  'Sipahijala',
  'South Tripura',
  'Unokoti',
  'West Tripura'],
 'UP': ['Agra',
  'Aligarh',
  'Ambedkar Nagar',
  'Amethi',
  'Amroha',
  'Auraiya',
  'Ayodhya',
  'Azamgarh',
  'Baghpat',
  'Bahraich',
  'Ballia',
  'Balrampur',
  'Banda',
  'Barabanki',
  'Bareilly',
  'Basti',
  'Bhadohi',
  'Bijnor',
  'Budaun',
  'Bulandshahr',
  'Chandauli',
  'Chitrakoot',
  'Deoria',
  'Etah',
  'Etawah',
  'Farrukhabad',
  'Fatehpur',
  'Firozabad',
  'Gautam Buddha Nagar',
  'Ghaziabad',
  'Ghazipur',
  'Gonda',
  'Gorakhpur',
  'Hamirpur',
  'Hapur',
  'Hardoi',
  'Hathras',
  'Jalaun',
  'Jaunpur',
  'Jhansi',
  'Kannauj',
  'Kanpur Dehat',
  'Kanpur Nagar',
  'Kasganj',
  'Kaushambi',
  'Kushinagar',
  'Lakhimpur Kheri',
  'Lalitpur',
  'Lucknow',
  'Maharajganj',
  'Mahoba',
  'Mainpuri',
  'Mathura',
  'Mau',
  'Meerut',
  'Mirzapur',
  'Moradabad',
  'Muzaffarnagar',
  'Pilibhit',
  'Pratapgarh',
  'Prayagraj',
  'Rae Bareli',
  'Rampur',
  'Saharanpur',
  'Sambhal',
  'Sant Kabir Nagar',
  'Shahjahanpur',
  'Shamli',
  'Shrawasti',
  'Siddharthnagar',
  'Sitapur',
  'Sonbhadra',
  'Sultanpur',
  'Unnao',
  'Varanasi'],
 'UT': ['Almora',
  'Bageshwar',
  'Chamoli',
  'Champawat',
  'Dehradun',
  'Haridwar',
  'Nainital',
  'Pauri Garhwal',
  'Pithoragarh',
  'Rudraprayag',
  'Tehri Garhwal',
  'Udham Singh Nagar',
  'Uttarkashi'],
 'WB': ['Alipurduar',
  'Bankura',
  'Birbhum',
  'Cooch Behar',
  'Dakshin Dinajpur',
  'Darjeeling',
  'Hooghly',
  'Howrah',
  'Jalpaiguri',
  'Jhargram',
  'Kalimpong',
  'Kolkata',
  'Malda',
  'Murshidabad',
  'Nadia',
  'North 24 Parganas',
  'Other State',
  'Paschim Bardhaman',
  'Paschim Medinipur',
  'Purba Bardhaman',
  'Purba Medinipur',
  'Purulia',
  'South 24 Parganas',
  'Uttar Dinajpur']}

In [61]:
stat=[]
district=[]
for i,j in diii.items():
    for k in range(len(j)):
        stat.append(i)
        district.append(j[k])

In [62]:
dis=pd.Series(district)
st=pd.Series(stat)
l={}
State_district=pd.DataFrame(l)

In [63]:
State_district.insert(0,"State",st)
State_district.insert(1,"District",dis)
State_district

    State                  District
0      AN                  Nicobars
1      AN  North and Middle Andaman
2      AN             South Andaman
3      AN                   Unknown
4      AP                 Anantapur
..    ...                       ...
743    WB           Purba Bardhaman
744    WB           Purba Medinipur
745    WB                   Purulia
746    WB         South 24 Parganas
747    WB            Uttar Dinajpur

[748 rows x 2 columns]

In [64]:
#State_district.to_csv(r"C:\Users\91940\Desktop\Python Project\dist1.csv",index=False,header=True)

## I want District-And other data now

In [65]:
pd.DataFrame(new_data.loc[:,"districts"][0]).transpose()

,delta7,meta,total,delta,delta21_14
Nicobars,"{'vaccinated1': 62, 'vaccinated2': 811}",{'population': 36842},"{'vaccinated1': 25394, 'vaccinated2': 20313}",NaN,NaN
North and Middle Andaman,"{'vaccinated1': 90, 'vaccinated2': 1839}",{'population': 105597},"{'vaccinated1': 78945, 'vaccinated2': 59522}",{'vaccinated2': 8},NaN
South Andaman,"{'vaccinated1': 732, 'vaccinated2': 8012}",{'population': 238142},"{'vaccinated1': 189662, 'vaccinated2': 120322}","{'vaccinated1': 3, 'vaccinated2': 28}",NaN
Unknown,"{'confirmed': 3, 'recovered': 5}",NaN,"{'confirmed': 7651, 'deceased': 129, 'recovere...",NaN,{'confirmed': 9}

In [66]:
Concat_values=pd.DataFrame(new_data.loc[:,"districts"][0]).transpose()
for i in range(1,len(new_data.loc[:,"districts"])):
    first_st=pd.DataFrame(new_data.loc[:,"districts"][i]).transpose()
    Concat_values=pd.concat([Concat_values,first_st])

In [67]:
Concat_values.index

Index(['Nicobars', 'North and Middle Andaman', 'South Andaman', 'Unknown',
       'Anantapur', 'Chittoor', 'East Godavari', 'Foreign Evacuees', 'Guntur',
       'Krishna',
       ...
       'Nadia', 'North 24 Parganas', 'Other State', 'Paschim Bardhaman',
       'Paschim Medinipur', 'Purba Bardhaman', 'Purba Medinipur', 'Purulia',
       'South 24 Parganas', 'Uttar Dinajpur'],
      dtype='object', length=748)

In [68]:
col1 = np.array(Concat_values.index)

In [69]:
Concat_values.insert(0,"District",col1)

In [70]:
Concat_values

,District,delta7,meta,total,delta,delta21_14
Nicobars,Nicobars,"{'vaccinated1': 62, 'vaccinated2': 811}",{'population': 36842},"{'vaccinated1': 25394, 'vaccinated2': 20313}",NaN,NaN
North and Middle Andaman,North and Middle Andaman,"{'vaccinated1': 90, 'vaccinated2': 1839}",{'population': 105597},"{'vaccinated1': 78945, 'vaccinated2': 59522}",{'vaccinated2': 8},NaN
South Andaman,South Andaman,"{'vaccinated1': 732, 'vaccinated2': 8012}",{'population': 238142},"{'vaccinated1': 189662, 'vaccinated2': 120322}","{'vaccinated1': 3, 'vaccinated2': 28}",NaN
Unknown,Unknown,"{'confirmed': 3, 'recovered': 5}",NaN,"{'confirmed': 7651, 'deceased': 129, 'recovere...",NaN,{'confirmed': 9}
Anantapur,Anantapur,"{'confirmed': 38, 'recovered': 58, 'vaccinated...","{'population': 4083315, 'tested': {'date': '20...","{'confirmed': 157843, 'deceased': 1093, 'recov...","{'confirmed': 4, 'recovered': 5, 'vaccinated1'...",{'confirmed': 50}
...,...,...,...,...,...,...
Purba Bardhaman,Purba Bardhaman,"{'confirmed': 147, 'deceased': 2, 'recovered':...",{'population': 4835532},"{'confirmed': 42005, 'deceased': 198, 'recover...","{'confirmed': 16, 'recovered': 25, 'vaccinated...",{'confirmed': 132}
Purba Medinipur,Purba Medinipur,"{'confirmed': 94, 'deceased': 1, 'recovered': ...",{'population': 4417377},"{'confirmed': 63098, 'deceased': 397, 'recover...","{'confirmed': 16, 'recovered': 17, 'vaccinated...",{'confirmed': 65}
Purulia,Purulia,"{'confirmed': 17, 'recovered': 21, 'vaccinated...",{'population': 2927965},"{'confirmed': 19419, 'deceased': 113, 'recover...","{'confirmed': 2, 'recovered': 3, 'vaccinated1'...",{'confirmed': 9}
South 24 Parganas,South 24 Parganas,"{'confirmed': 542, 'deceased': 5, 'recovered':...",{'population': 8153176},"{'confirmed': 100957, 'deceased': 1336, 'recov...","{'confirmed': 75, 'deceased': 1, 'recovered': ...",{'confirmed': 267}
Uttar Dinajpur,Uttar Dinajpur,"{'confirmed': 43, 'deceased': 2, 'recovered': ...",{'population': 3000849},"{'confirmed': 19858, 'deceased': 238, 'recover...","{'confirmed': 8, 'recovered': 7}",{'confirmed': 25}

In [71]:
# vv=np.array(Concat_values.loc[:,["District","delta"]])
# DI={}
# for i in range(len(vv)):
#     DI[vv[i][0]]=vv[i][1]
# n=pd.DataFrame(DI).transpose()
# co=np.array(n.index)
# n.insert(0,"District",co)
# ll=['District', 'delta_vaccinated2', 'delta_vaccinated1', 'delta_confirmed', 'delta_deceased',
#        'delta_recovered', 'delta_tested', 'delta_other']
# n.columns=ll
# n.reset_index(drop=True, inplace=True)
# state_delta=State_district.merge(n,on="District")

In [72]:
def to_dataframe(column1,column2):
    vv=np.array(Concat_values.loc[:,[column1,column2]])
    DI={}
    for i in range(len(vv)):
        DI[vv[i][0]]=vv[i][1]
    column2=pd.DataFrame(DI).transpose()
    co=np.array(column2.index)
    column2.insert(0,"District",co)
    column2.reset_index(drop=True, inplace=True)
    return column2

In [73]:
n=to_dataframe(column1="District",column2="delta")

In [74]:
n.columns

Index(['District', 'vaccinated2', 'vaccinated1', 'confirmed', 'deceased',
       'recovered', 'tested', 'other'],
      dtype='object')

In [75]:
ll=['District', 'delta_vaccinated2', 'delta_vaccinated1', 'delta_confirmed', 'delta_deceased',
       'delta_recovered', 'delta_tested', 'delta_other']

In [76]:
n.columns=ll

In [77]:
State_district

    State                  District
0      AN                  Nicobars
1      AN  North and Middle Andaman
2      AN             South Andaman
3      AN                   Unknown
4      AP                 Anantapur
..    ...                       ...
743    WB           Purba Bardhaman
744    WB           Purba Medinipur
745    WB                   Purulia
746    WB         South 24 Parganas
747    WB            Uttar Dinajpur

[748 rows x 2 columns]

In [78]:
n

,District,delta_vaccinated2,delta_vaccinated1,delta_confirmed,delta_deceased,delta_recovered,delta_tested,delta_other
0,Nicobars,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,North and Middle Andaman,8.0,NaN,NaN,NaN,NaN,NaN,NaN
2,South Andaman,28.0,3.0,NaN,NaN,NaN,NaN,NaN
3,Unknown,NaN,NaN,121.0,1.0,183.0,NaN,NaN
4,Anantapur,5370.0,4575.0,4.0,NaN,5.0,NaN,NaN
...,...,...,...,...,...,...,...,...
724,Purba Bardhaman,4002.0,17168.0,16.0,NaN,25.0,NaN,NaN
725,Purba Medinipur,2226.0,5370.0,16.0,NaN,17.0,NaN,NaN
726,Purulia,1866.0,13266.0,2.0,NaN,3.0,NaN,NaN
727,South 24 Parganas,3270.0,7086.0,75.0,1.0,74.0,NaN,NaN
728,Uttar Dinajpur,NaN,NaN,8.0,NaN,7.0,NaN,NaN

In [79]:
state_delta=State_district.merge(n,on="District")

In [80]:
state_delta

,State,District,delta_vaccinated2,delta_vaccinated1,delta_confirmed,delta_deceased,delta_recovered,delta_tested,delta_other
0,AN,Nicobars,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AN,North and Middle Andaman,8.0,NaN,NaN,NaN,NaN,NaN,NaN
2,AN,South Andaman,28.0,3.0,NaN,NaN,NaN,NaN,NaN
3,AN,Unknown,NaN,NaN,121.0,1.0,183.0,NaN,NaN
4,AS,Unknown,NaN,NaN,121.0,1.0,183.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
743,WB,Purba Bardhaman,4002.0,17168.0,16.0,NaN,25.0,NaN,NaN
744,WB,Purba Medinipur,2226.0,5370.0,16.0,NaN,17.0,NaN,NaN
745,WB,Purulia,1866.0,13266.0,2.0,NaN,3.0,NaN,NaN
746,WB,South 24 Parganas,3270.0,7086.0,75.0,1.0,74.0,NaN,NaN
747,WB,Uttar Dinajpur,NaN,NaN,8.0,NaN,7.0,NaN,NaN

In [81]:
n=to_dataframe(column1="District",column2="delta7")

In [82]:
n.columns

Index(['District', 'vaccinated1', 'vaccinated2', 'confirmed', 'deceased',
       'recovered', 'tested', 'other'],
      dtype='object')

In [83]:
ll=['District','delta7_vaccinated1','delta7_vaccinated2','delta7_confirmed','delta7_deceased','delta7_recovered','delta7_tested','delta7_other']
n.columns=ll

In [84]:
n.columns=ll

In [85]:
state_delta_delta7=state_delta.merge(n,on="District")

In [86]:
state_delta_delta7

,State,District,delta_vaccinated2,delta_vaccinated1,delta_confirmed,delta_deceased,delta_recovered,delta_tested,delta_other,delta7_vaccinated1,delta7_vaccinated2,delta7_confirmed,delta7_deceased,delta7_recovered,delta7_tested,delta7_other
0,AN,Nicobars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,811.0,NaN,NaN,NaN,NaN,NaN
1,AN,North and Middle Andaman,8.0,NaN,NaN,NaN,NaN,NaN,NaN,90.0,1839.0,NaN,NaN,NaN,NaN,NaN
2,AN,South Andaman,28.0,3.0,NaN,NaN,NaN,NaN,NaN,732.0,8012.0,NaN,NaN,NaN,NaN,NaN
3,AN,Unknown,NaN,NaN,121.0,1.0,183.0,NaN,NaN,NaN,NaN,1189.0,9.0,1121.0,NaN,NaN
4,AS,Unknown,NaN,NaN,121.0,1.0,183.0,NaN,NaN,NaN,NaN,1189.0,9.0,1121.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,WB,Purba Bardhaman,4002.0,17168.0,16.0,NaN,25.0,NaN,NaN,260764.0,51741.0,147.0,2.0,176.0,NaN,NaN
744,WB,Purba Medinipur,2226.0,5370.0,16.0,NaN,17.0,NaN,NaN,71724.0,144185.0,94.0,1.0,120.0,NaN,NaN
745,WB,Purulia,1866.0,13266.0,2.0,NaN,3.0,NaN,NaN,159111.0,40922.0,17.0,NaN,21.0,NaN,NaN
746,WB,South 24 Parganas,3270.0,7086.0,75.0,1.0,74.0,NaN,NaN,310444.0,169231.0,542.0,5.0,470.0,NaN,NaN
747,WB,Uttar Dinajpur,NaN,NaN,8.0,NaN,7.0,NaN,NaN,130243.0,44686.0,43.0,2.0,46.0,NaN,NaN

In [87]:
n=to_dataframe(column1="District",column2="delta21_14")

In [88]:
n.columns

Index(['District', 'confirmed'], dtype='object')

In [89]:
ll=['District', 'delta21_14_confirmed']

In [90]:
n.columns=ll

In [91]:
state_delta_delta7_delta21_14=state_delta_delta7.merge(n,on="District")

In [92]:
#state_delta_delta7_delta21_14

In [93]:
n=to_dataframe(column1="District",column2="total")

In [94]:
n.columns

Index(['District', 'vaccinated1', 'vaccinated2', 'confirmed', 'deceased',
       'recovered', 'tested', 'other'],
      dtype='object')

In [95]:
ll=['District', 'total_vaccinated1', 'total_vaccinated2', 'total_confirmed', 'total_deceased',
       'total_recovered', 'total_tested', 'total_other']

In [96]:
n.columns=ll

In [97]:
state_delta_delta7_delta21_14_total=state_delta_delta7_delta21_14.merge(n,on="District")

In [98]:
#state_delta_delta7_delta21_14_total

In [99]:
n=to_dataframe(column1="District",column2="meta")

In [100]:
n=n.iloc[:,0:4]

In [101]:
n.columns

Index(['District', 'population', 'tested', 'vaccinated'], dtype='object')

In [102]:
ll=['District', 'Population', 'meta_tested', 'meta_vaccinated']

In [103]:
n.columns=ll

In [104]:
complete_district=state_delta_delta7_delta21_14_total.merge(n,on="District")

In [105]:
complete_district

,State,District,delta_vaccinated2,delta_vaccinated1,delta_confirmed,delta_deceased,delta_recovered,delta_tested,delta_other,delta7_vaccinated1,...,total_vaccinated1,total_vaccinated2,total_confirmed,total_deceased,total_recovered,total_tested,total_other,Population,meta_tested,meta_vaccinated
0,AN,Nicobars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,...,25394.0,20313.0,NaN,NaN,NaN,NaN,NaN,36842.0,NaN,NaN
1,AN,North and Middle Andaman,8.0,NaN,NaN,NaN,NaN,NaN,NaN,90.0,...,78945.0,59522.0,NaN,NaN,NaN,NaN,NaN,105597.0,NaN,NaN
2,AN,South Andaman,28.0,3.0,NaN,NaN,NaN,NaN,NaN,732.0,...,189662.0,120322.0,NaN,NaN,NaN,NaN,NaN,238142.0,NaN,NaN
3,AN,Unknown,NaN,NaN,121.0,1.0,183.0,NaN,NaN,NaN,...,NaN,NaN,671463.0,3956.0,663498.0,NaN,NaN,NaN,NaN,NaN
4,AS,Unknown,NaN,NaN,121.0,1.0,183.0,NaN,NaN,NaN,...,NaN,NaN,671463.0,3956.0,663498.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,WB,Purba Bardhaman,4002.0,17168.0,16.0,NaN,25.0,NaN,NaN,260764.0,...,2596246.0,859528.0,42005.0,198.0,41588.0,NaN,NaN,4835532.0,NaN,NaN
744,WB,Purba Medinipur,2226.0,5370.0,16.0,NaN,17.0,NaN,NaN,71724.0,...,3560589.0,1471674.0,63098.0,397.0,62549.0,NaN,NaN,4417377.0,NaN,NaN
745,WB,Purulia,1866.0,13266.0,2.0,NaN,3.0,NaN,NaN,159111.0,...,1679941.0,492310.0,19419.0,113.0,19283.0,NaN,NaN,2927965.0,NaN,NaN
746,WB,South 24 Parganas,3270.0,7086.0,75.0,1.0,74.0,NaN,NaN,310444.0,...,4850898.0,1832073.0,100957.0,1336.0,98950.0,NaN,NaN,8153176.0,NaN,NaN
747,WB,Uttar Dinajpur,NaN,NaN,8.0,NaN,7.0,NaN,NaN,130243.0,...,1341457.0,436182.0,19858.0,238.0,19559.0,NaN,NaN,3000849.0,NaN,NaN

In [106]:
po=complete_district.pop("Population")

In [107]:
complete_district.insert(2,"Population",po)

In [108]:
complete_district

,State,District,Population,delta_vaccinated2,delta_vaccinated1,delta_confirmed,delta_deceased,delta_recovered,delta_tested,delta_other,...,delta21_14_confirmed,total_vaccinated1,total_vaccinated2,total_confirmed,total_deceased,total_recovered,total_tested,total_other,meta_tested,meta_vaccinated
0,AN,Nicobars,36842.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25394.0,20313.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AN,North and Middle Andaman,105597.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,78945.0,59522.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AN,South Andaman,238142.0,28.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,189662.0,120322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AN,Unknown,NaN,NaN,NaN,121.0,1.0,183.0,NaN,NaN,...,1068.0,NaN,NaN,671463.0,3956.0,663498.0,NaN,NaN,NaN,NaN
4,AS,Unknown,NaN,NaN,NaN,121.0,1.0,183.0,NaN,NaN,...,1068.0,NaN,NaN,671463.0,3956.0,663498.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743,WB,Purba Bardhaman,4835532.0,4002.0,17168.0,16.0,NaN,25.0,NaN,NaN,...,132.0,2596246.0,859528.0,42005.0,198.0,41588.0,NaN,NaN,NaN,NaN
744,WB,Purba Medinipur,4417377.0,2226.0,5370.0,16.0,NaN,17.0,NaN,NaN,...,65.0,3560589.0,1471674.0,63098.0,397.0,62549.0,NaN,NaN,NaN,NaN
745,WB,Purulia,2927965.0,1866.0,13266.0,2.0,NaN,3.0,NaN,NaN,...,9.0,1679941.0,492310.0,19419.0,113.0,19283.0,NaN,NaN,NaN,NaN
746,WB,South 24 Parganas,8153176.0,3270.0,7086.0,75.0,1.0,74.0,NaN,NaN,...,267.0,4850898.0,1832073.0,100957.0,1336.0,98950.0,NaN,NaN,NaN,NaN
747,WB,Uttar Dinajpur,3000849.0,NaN,NaN,8.0,NaN,7.0,NaN,NaN,...,25.0,1341457.0,436182.0,19858.0,238.0,19559.0,NaN,NaN,NaN,NaN

In [109]:
#complete_district.to_csv(r"C:\Users\91940\Desktop\Python Project\district.csv",index=False)

In [110]:
complete_district.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 748 entries, 0 to 747
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 748 non-null    object
 1   District              748 non-null    object
 2   Population            709 non-null    object
 3   delta_vaccinated2     656 non-null    float64
 4   delta_vaccinated1     645 non-null    float64
 5   delta_confirmed       269 non-null    float64
 6   delta_deceased        60 non-null     float64
 7   delta_recovered       264 non-null    float64
 8   delta_tested          3 non-null      float64
 9   delta_other           1 non-null      float64
 10  delta7_vaccinated1    718 non-null    float64
 11  delta7_vaccinated2    718 non-null    float64
 12  delta7_confirmed      419 non-null    float64
 13  delta7_deceased       148 non-null    float64
 14  delta7_recovered      404 non-null    float64
 15  delta7_tested         3 non-null      float64
 16  delta7_other          10 non-null     float64
 17  delta21_14_confirmed  428 non-null    float64
 18  total_vaccinated1     718 non-null    float64
 19  total_vaccinated2     718 non-null    float64
 20  total_confirmed       656 non-null    float64
 21  total_deceased        641 non-null    float64
 22  total_recovered       654 non-null    float64
 23  total_tested          536 non-null    float64
 24  total_other           100 non-null    float64
 25  meta_tested           536 non-null    object
 26  meta_vaccinated       3 non-null      object
dtypes: float64(22), object(5)
memory usage: 163.6+ KB

## Working ON time_series Data

In [111]:
r=requests.get(url="https://data.covid19india.org/v4/min/timeseries.min.json")

In [112]:
data=json.loads(r.content)

In [113]:
x=pd.DataFrame.transpose(pd.DataFrame(data))

In [114]:
x.insert(0,"State",np.array(x.index))

In [115]:
diii={}
for i in range(int(len(x))):
    value=list(dict(np.array(x)[i][1]).keys())
    key=(np.array(x)[i][0])
    diii[key]=value

In [116]:
stat=[]
dates=[]
for i,j in diii.items():
    for k in range(len(j)):
        stat.append(i)
        dates.append(j[k])

In [117]:
dis=pd.Series(dates)
st=pd.Series(stat)
l={}
State_dates=pd.DataFrame(l)

In [118]:
State_dates.insert(0,"State",st)
State_dates.insert(1,"Date",dis)
#State_dates

In [119]:
Concat_values=pd.DataFrame(x.loc[:,"dates"][0]).transpose()
for i in range(1,len(x.loc[:,"dates"])):
    first_st=pd.DataFrame(x.loc[:,"dates"][i]).transpose()
    Concat_values=pd.concat([Concat_values,first_st])

In [120]:
col1 = np.array(Concat_values.index)
Concat_values.insert(0,"Date",col1)
Concat_values

,Date,delta,delta7,total
2020-03-26,2020-03-26,{'confirmed': 1},{'confirmed': 1},{'confirmed': 1}
2020-03-27,2020-03-27,{'confirmed': 5},{'confirmed': 6},{'confirmed': 6}
2020-03-28,2020-03-28,{'confirmed': 3},{'confirmed': 9},{'confirmed': 9}
2020-03-29,2020-03-29,NaN,{'confirmed': 9},{'confirmed': 9}
2020-03-30,2020-03-30,{'confirmed': 1},{'confirmed': 10},{'confirmed': 10}
...,...,...,...,...
2021-10-27,2021-10-27,"{'confirmed': 976, 'deceased': 15, 'recovered'...","{'confirmed': 6229, 'deceased': 89, 'recovered...","{'confirmed': 1589042, 'deceased': 19096, 'rec..."
2021-10-28,2021-10-28,"{'confirmed': 990, 'deceased': 9, 'recovered':...","{'confirmed': 6386, 'deceased': 84, 'recovered...","{'confirmed': 1590032, 'deceased': 19105, 'rec..."
2021-10-29,2021-10-29,"{'confirmed': 982, 'deceased': 8, 'recovered':...","{'confirmed': 6522, 'deceased': 80, 'recovered...","{'confirmed': 1591014, 'deceased': 19113, 'rec..."
2021-10-30,2021-10-30,"{'confirmed': 980, 'deceased': 13, 'recovered'...","{'confirmed': 6528, 'deceased': 81, 'recovered...","{'confirmed': 1591994, 'deceased': 19126, 'rec..."
2021-10-31,2021-10-31,"{'confirmed': 914, 'deceased': 15, 'recovered'...","{'confirmed': 6453, 'deceased': 86, 'recovered...","{'confirmed': 1592908, 'deceased': 19141, 'rec..."

In [121]:
def to_dataframe(column1,column2):
    vv=np.array(Concat_values.loc[:,[column1,column2]])
    DI={}
    for i in range(len(vv)):
        DI[vv[i][0]]=vv[i][1]
    column2=pd.DataFrame(DI).transpose()
    co=np.array(column2.index)
    column2.insert(0,"Date",co)
    column2.reset_index(drop=True, inplace=True)
    return column2

In [122]:
n=to_dataframe(column1="Date",column2="delta")

In [123]:
n.columns

Index(['Date', 'confirmed', 'deceased', 'recovered', 'tested', 'vaccinated1',
       'vaccinated2'],
      dtype='object')

In [124]:
ll=['Date', 'delta_confirmed', 'delta_deceased', 'delta_recovered', 'delta_tested', 'delta_vaccinated1',
       'delta_vaccinated2']

In [125]:
n.columns=ll

In [126]:
date_delta=State_dates.merge(n,on="Date")

In [127]:
n=to_dataframe(column1="Date",column2="delta7")

In [128]:
n.columns

Index(['Date', 'confirmed', 'deceased', 'recovered', 'tested', 'vaccinated1',
       'vaccinated2'],
      dtype='object')

In [129]:
ll=['Date', 'delta7_confirmed', 'delta7_deceased', 'delta7_recovered', 'delta7_tested', 'delta7_vaccinated1',
       'delta7_vaccinated2']

In [130]:
n.columns=ll

In [131]:
date_delta_delta7=date_delta.merge(n,on="Date")

In [132]:
n=to_dataframe(column1="Date",column2="total")

In [133]:
ll=['Date', 'total_confirmed', 'total_deceased', 'total_recovered', 'total_tested', 'total_vaccinated1',
       'total_vaccinated2']

In [134]:
n.columns=ll

In [135]:
complete_date=date_delta_delta7.merge(n,on="Date")

In [136]:
#complete_date.to_csv(r"C:\Users\91940\Desktop\Python Project\time_series.csv",index=False)